.type	
{
	margin-left: 15vmin;
}
body	
{
	background-image: url("https://i.pinimg.com/originals/d8/b6/ed/d8b6ede572b790b4208a294057d095e1.jpg");
	background-position: center;
	background-size: cover;
	height: 700px;
	margin-left: 10%;
	margin-right: 10%;
}
h1
{
	font-family: Verdana;
	font-weight: bold;
	color: #ffccff;
	text-shadow:2px 2px 3px red;
	margin-top: 3%;
}
label{
  font-family: sans-serif;
  letter-spacing: 6px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8em;
  color: blue;
}
form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(0,0,0,.1);
  padding: 100px;
}
input[type=text]{
  display: inline-block;
  border: none;
  text-align: left;
  box-shadow: 3px 2px rgba(121, 83, 210,.3 );
  padding: 10px;
  width: 300px;
  margin: 10px 0;
  background: transparent;
  color: #FFF;
}
input[type=text]:focus{
  background: none;
  border: none;
  color: #FFF;
}
