@media only screen and (max-width:768px) {

    /*back button*/
    a {
        margin-top: 3vmin;
    }

    .previous {
        margin-top: 6vmin;
    }

    .section-1 {
        margin-top: 15vmin;
        padding-bottom: 180vmin;
    }

    .section-1 .row .col-md-12:last-child {
        position: relative;
    }

    /*2nd panel*/
    .section-1 .row .col-md-6 .panel {
        position: absolute;
        margin-top: 78vmin;
        left: 15vmin;
        background: white;
        border-radius: 3px;
        text-align: left;
        padding: 5vmin 5vmin 20vmin 10vmin;
        box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
        font-family: var(--Rubik);
        z-index: 1;
        height: 28rem;
        width: 38rem;
        background: var(--bggradient);
    }

    /*1st panel*/
    .section-1 .row .col-md-6 .panel1 {
        position: absolute;
        top: 25vmin;
        right: 2vmin;
        left: 2vmin;
        margin-right: 20rem;
        height: 28rem;
        width: 100%;
        border-radius: 3px;
        padding: 5vmin 10vmin 5vmin 10vmin;
        box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        z-index: 1;
        opacity: 0.8;
        background-size: 60rem 28rem;

    }

    .section-1 .row .col-md-6 .panel1 h1 {
        font-size: 25px;
        text-align: left;
        padding-top: 2px;
    }

    .section-1 .row .col-md-6 .panel1 p {
        font-size: 15px;
        text-align: center;
    }
}

@media only screen and (max-width:425px) {
    /*header .container .col-md-12 h1 {
        margin-left: -3vmin;
    }*/

    a {
        margin-top: 3vmin;
    }

    .previous {
        margin-top: 6vmin;
    }

    .section-1 {
        margin-top: 15vmin;
        padding-bottom: 180vmin;
    }

    .section-1 .row .col-md-12:last-child {
        position: relative;
    }

    /*2nd panel*/
    .section-1 .row .col-md-6 .panel {
        position: absolute;
        margin-top: 100vmin;
        left: 7vmin;
        background: white;
        border-radius: 3px;
        padding: 5vmin 5vmin 20vmin 10vmin;
        box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
        font-family: var(--Rubik);
        z-index: 1;
        height: 20rem;
        width: 23rem;
        background: var(--bggradient);
    }

    .section-1 .row .col-md-6 .panel label .select {
        font-size: 18px;
    }

    .section-1 .row .col-md-6 .panel label select {
        margin-left: 6vmin;
    }

    .section-1 .row .col-md-6 .panel .btn {
        margin-left: 20vmin;
        margin-top: 15vmin;
    }

    /*1st panel*/
    .section-1 .row .col-md-6 .panel1 {
        position: absolute;
        top: 29vmin;
        left: 2vmin;
        right: 2vmin;
        margin-right: 20rem;
        border-radius: 3px;
        box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        z-index: 1;
        height: 28rem;
        opacity: 0.8;
        width: 100%;
        background-size: 20rem 28rem;

    }

    .section-1 .row .col-md-6 .panel1 h1 {
        font-size: 20px;
        text-align: left;
        padding-top: 2px;
    }

    .section-1 .row .col-md-6 .panel1 p {
        font-size: 11px;
        text-align: center;
    }
}

@media only screen and (max-width:375px) {
    .section-1 .row .col-md-6 .panel {
        margin-top: 115vmin;
        left: 4vmin;
        height: 17rem;
        width: 22rem;
    }

    .section-1 .row .col-md-6 .panel1 h1 {
        font-size: 17px;
        text-align: left;
        padding-top: 2px;

    }

    .section-1 .row .col-md-6 .panel1 p {
        font-size: 10px;
        text-align: justify;
        margin-left: 10px;
        margin-top: 5px;

    }

    .section-1 .row .col-md-6 .panel .btn {
        font-size: 15px;
    }
}

@media only screen and (max-width:320px) {
    .section-1 .row .col-md-6 .panel {
        margin-top: 132vmin;
        left: 4vmin;
        height: 17rem;
        width: 18rem;
    }

    .section-1 .row .col-md-6 .panel1 h1 {
        padding-left: 1rem;
        padding-top: 2px;
    }

    .section-1 .row .col-md-6 .panel1 p {
        font-size: 9.5px;
        text-align: justify;
        margin-left: 10px;
        margin-top: 2px;

    }

    .section-1 .row .col-md-6 .panel .btn {
        font-size: 15px;
        margin-left: 12vmin;
    }
}