* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    margin-top: 2rem;
}

.logout {
    height: 100%;
    width: 100%;
    outline: none;
    margin-left: 180vmin;
    background: green;
    color: white;
    padding: 1rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.logout:hover {
    background: transparent;
    color: green;
    border: 1px solid rgba(2, 75, 8, 0.925);
    font-weight: bold;
}

.errmsg {
    margin-right: 100vmin;
    margin-left: 30vmin;
    justify-content: center;
    float: left;
    border-radius: 5px;
    border: 1px solid red;
    background: pink;
    text-align: left;
    color: brown;
    padding: 3px;
}

.msg {
    margin-left: 20vmin;
    margin-top: 3vmin;
    font-size: 4vw;
    font-weight: bold;
    color: teal;
}

.successmsg {
    margin-left: 68vmin;
    margin-top: 10vmin;
    width: 30%;
    border-radius: 5px;
    border: 1px solid green;
    background: #33CC00;
    background-size: 100% 100%;
    text-align: left;
    color: white;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 0 20px 2px rgba(150, 247, 111, 0.5);
}

.heading {
    margin-left: -130vmin;
    margin-top: -5vmin;
    color: #07b966;
}

.heading:hover {
    color: #49138f;
}

.form-box {
    width: 500px;
    background: rgba(0, 0, 0, 0.8);
    margin: 1% auto;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.input-box {
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}

.input {
    border-bottom: 0px solid rgb(0, 0, 0);
}

.input-box input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

::placeholder {
    color: #ccc;
    font-size: 15px;
}

.details {
    color: #ccc;
    font-size: 15px;
}

.fa {
    margin-right: 10px;

}

.eye {
    position: absolute;

}

#hide1 {
    display: none;

}

#hide3 {
    display: none;

}

.register-btn {
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

.register-btn:hover {
    background: white;
    color: black;
}

.choice {
    margin-left: 10vmin;

}

.details {
    font-size: 15px;
}

.type {
    padding-left: 2vmin;
    padding-right: 2vmin;
    font-size: 15px;
}

textarea {
    padding: 6px 6px;
}

@media(max-width:425px) {
    .form-box {
        width: 370px;
        margin-top: 10vmin;
    }
}

@media(max-width:375px) {
    .form-box {
        width: 340px;
    }
}

@media(max-width:320px) {
    .form-box {
        width: 296px;
    }

    .choice {
        margin-left: 5vmin;

    }
}